@charset "utf-8";

.container {
    width: 1280px;
    margin: 0 auto;
}
.pos-absolute {
    position: absolute;
}
.pos-relative {
    position: relative;
}
.d-flex {
    display: flex
}

.ml-auto {
    margin-left: auto
}

#layer1 {
    display: none; /* 표시 : 안함 */
    top: 40px;
    left: 0%;
    width: 380px;
    border: 1px solid #efefef;
    background-color: rgb(254, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    padding: 1rem;
    
    

}
.layer-title {
    font-size: 1.125rem;
    border-bottom: 1px solid rgba(137, 141, 139, 0.767);
    padding-bottom: 10px;
}
hr {
    margin: 30px 0;
}

.shortcut-container {
    justify-content: space-around;
}